<li class="item {{listName}} flexrow" data-item-id="{{id}}">
    <div class="field member-name name" data-id="{{id}}"><a>{{name}}</a></div>
    <div class="field age center">{{age}}</div>
    <div class="field description size150">{{description}}</div>
    <div class="field item-controls">
        <a class="item-control" data-id="{{id}}" data-role="{{role}}" data-action="delete"><i class="fas fa-trash"></i></a>
    </div>
</li>