 <div class="tab equipments" data-group="primary" data-tab="equipments">
    <section class="weapons">
        <header class="header-field">
            <span>Currency</span>
        </header>

        <section class="currency flexrow">
            <section class="">
            </section>
            <section class="flexrow">
                <div class="form-group">
                    <label for="system.coins.coppers">Copper:</label>
                    <span class="form-fields">
                      <input
                              id="system.coins.coppers"
                              class="small-field"
                              name="system.coins.coppers"
                              type="text"
                              value="{{character.coins.coppers}}"
                              placeholder="Coopers"
                              data-dtype="Number"
                      />
                    </span>
                </div>
                <div class="form-group">
                    <label for="system.coins.silvers">Silver:</label>
                    <span class="form-fields">
                      <input
                              id="system.coins.silvers"
                              class="small-field"
                              name="system.coins.silvers"
                              type="text"
                              value="{{character.coins.silvers}}"
                              placeholder="Silvers"
                              data-dtype="Number"
                      />
                    </span>
                </div>
                <div class="form-group">
                    <label for="system.coins.golds">Gold:</label>
                    <span class="form-fields">
                      <input
                              id="system.coins.golds"
                              class="small-field"
                              name="system.coins.golds"
                              type="text"
                              value="{{character.coins.golds}}"
                              placeholder="Golds"
                              data-dtype="Number"
                      />
                    </span>
                </div>
            </section>
        </section>
        <header class="header-field">
            <span>Weapons</span>
        </header>
        <ol  class="weapons-list list equipment-list">
            <li class="list-header flexrow">
                <div class="weapon-label">Name</div>
                <div class="weapon-testdice">Test</div>
                <div class="weapon-damage">Dmg</div>
                <div class="equipment-weight">Weight</div>
                <div class="equipment-cost">Cost</div>
                <div class="item-qualities"><div>Qualities</div></div>
                <div class="item-controls"></div>
            </li>
            {{#each character.owned.weapons as |weapon index|}}
                <li  class="item weapon flexrow" data-item-id="{{_id}}">
                    <div class="weapon-label item-edit field"><a>{{weapon.name}}</a></div>
                    <div class="weapon-testdice rollable field" id="weapon-test:{{weapon.name}}:{{formulaToStr weapon.formula}}">
                        <a>{{format-formula weapon.formula}}</a>
                    </div>
                    <div class="weapon-damage field"> {{weapon.damageValue}}</div>
                    <div class="equipment-weight field">{{weapon.system.weight}} lb</div>
                    <div class="equipment-cost field">{{weapon.system.cost}}</div>
                    <div class="item-qualities field">
                        {{#each weapon.system.qualities}}
                            <div class="item-quality">{{name}} {{parameter}}</div>
                        {{/each}}
                    </div>
                    <div class="item-controls">
                        <a class="checkButton equipped {{showIfContains "2|4" weapon.system.equipped "activated" ""}}" data-item-id="{{_id}}" data-hand="{{showIfContains "2|4" weapon.system.equipped 0 2}}" data-type="weapon"><i class="fa fa-hand-paper"></i></a>
                        <a class="checkButton equipped off-hand {{showIfContains "3|4" weapon.system.equipped "activated" ""}}" data-item-id="{{_id}}" data-hand="{{showIfContains "3|4" weapon.system.equipped 0 3}}" data-type="weapon"><i class="fa fa-hand-paper"></i></a>
                    </div>
                </li>
            {{/each}}
        </ol>
    </section>
    <section class="armors">
        <header class="header-field">
            <span>Armors</span>
        </header>
        <ol  class="armors-list list equipment-list">
            <li class="list-header flexrow">
                <div class="armor-label">Name</div>
                <div class="armor-rating">Rating</div>
                <div class="armor-penalty">Penalty</div>
                <div class="armor-bulk">Bulk</div>
                <div class="equipment-weight">Weight</div>
                <div class="equipment-cost">Cost</div>
                <div class="item-qualities"><div>Qualities</div></div>
                <div class="item-controls"></div>
            </li>
            {{#each character.owned.armors as |armor index|}}
                <li  class="item weapon flexrow" data-item-id="{{_id}}">
                    <div class="armor-label item-edit field"><a>{{armor.name}}</a></div>
                    <div class="armor-rating field"><a>{{armor.system.rating}}</a></div>
                    <div class="armor-penalty field"><a>{{armor.system.penalty}}</a></div>
                    <div class="armor-bulk field"><a>{{armor.system.bulk}}</a></div>
                    <div class="equipment-weight field">{{armor.system.weight}} lb</div>
                    <div class="equipment-cost field">{{armor.system.cost}}</div>
                    <div class="item-qualities field">
                        {{#each armor.system.qualities}}
                            <div class="item-quality">{{name}} {{parameter}}</div>
                        {{/each}}
                    </div>
                    <div class="item-controls">
                        <a class="checkButton equipped {{showIfEquals "1" armor.system.equipped "activated" ""}}" data-item-id="{{_id}}" data-hand="{{showIfEquals "1" armor.system.equipped 0 1}}" data-type="armor"><i class="fas fa-shield-alt"></i></a>
                    </div>
                </li>
            {{/each}}
        </ol>
    </section>
    <section class="equipments">
        <header class="header-field">
            <span>Equipments</span>
        </header>
        <ol  class="armors-list list equipment-list flexrow">
            <li class="list-header equipment flexrow flex3">
                <div class="equipment-label">Name</div>
                <div class="equipment-quantity">Quantity</div>
                <div class="equipment-cost">Cost</div>
            </li>
            <li class="list-header equipment flexrow flex3">
                <div class="equipment-label">Name</div>
                <div class="equipment-quantity">Quantity</div>
                <div class="equipment-cost">Cost</div>
            </li>
            {{#each character.owned.equipments as |equipment index|}}
                <li  class="item equipment flexrow flex3" data-item-id="{{_id}}">
                    <div class="equipment-label item-edit field"><a>{{equipment.name}}</a></div>
                    <div class="equipment-quantity field">{{equipment.system.quantity}}</div>
                    <div class="equipment-cost field">{{equipment.system.cost}}</div>
                </li>
            {{/each}}
        </ol>
    </section>
</div>
