<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/chroniclesystem/templates/items/partials/header-delete.hbs"}}
    <main class="sheet-body flexrow">
        <section class="item-stats">
            <header class="header-field">
                <span>{{localize "CS.sheets.generalLabels.details"}}</span>
            </header>
            {{> (formGroup)
                    id="system.investment"
                    labelText="CS.sheets.holdingItem.investment"
                    inputCssClass="small-field"
                    value=item.system.investment
                    dataType="Number"
            }}
            {{> (formGroup)
                    id="system.buildTime"
                    labelText="CS.sheets.holdingItem.buildTime"
                    inputCssClass="big-field"
                    value=item.system.buildTime
                    dataType="String"
            }}
            <div class="form-group">
                <label for="system.resource">{{localize "CS.sheets.holdingItem.resource"}}</label>
                <select name="system.resource">
                    {{selectOptions resourceChoices selected=item.system.resource localize=true}}
                </select>
            </div>
            {{> (formGroup)
                    id="system.fortuneModifier"
                    labelText="CS.sheets.holdingItem.fortuneModifier"
                    inputCssClass="big-field"
                    value=item.system.fortuneModifier
                    dataType="String"
            }}
        </section>
        <section class="description">
            {{> "systems/chroniclesystem/templates/items/partials/description.hbs"}}
            {{#if item.isOwned}}
                <header class="header-field flexrow">
                    <div class="header-title">
                        <span>{{localize "CS.sheets.holdingItem.features"}}</span>
                    </div>
                    <div class="header-field-add">
                        <a class="item-feature-create" data-type="skill"><i class="fa fa-plus"></i></a>
                    </div>
                </header>
                <ol class="feature-list list resizable" data-base-size="150">
                    <li class="list-header flexrow">
                        <div class="size150">{{localize "CS.sheets.generalLabels.name"}}</div>
                        <div class="size50 center">{{localize "CS.sheets.house.resources.cost"}}</div>
                        <div class="item-controls"></div>
                    </li>
                    {{#each item.system.features as |feature index|}}
                        <li class="holding-feature item flexrow" data-item-id="{{index}}">
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input
                                    class="size150"
                                    type="text"
                                    name="system.features.{{index}}.name"
                                    value="{{feature.name}}"
                                    placeholder="{{localize "CS.sheets.holdingItem.featureName"}}"
                                    data-dtype="String"
                            />
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input
                                    class="size50 center"
                                    type="text"
                                    name="system.features.{{index}}.cost"
                                    value="{{feature.cost}}"
                                    placeholder="{{localize "CS.sheets.holdingItem.featureCost"}}"
                                    data-dtype="String"
                            />
                            <a class="item-features-control item-controls" data-id="{{index}}" data-action="delete"><i class="fas fa-trash"></i></a>
                        </li>
                    {{/each}}
                </ol>
            {{else}}
            <div class="ps">{{localize "CS.sheets.holdingItem.canAddFeatureAfter"}}</div>
            {{/if}}
        </section>
    </main>
</form>
